@font-face {
  font-family: 'norsebold';
  src: url('Norse-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  overflow-x: hidden;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 25rem 1fr;
}

.sidebar {
  background: url("img/bg-image.webp") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 8rem;
  align-items: center;
}

.credits {
  margin-bottom: 1.5rem;
  p, a {
    color: #FAF9F6;
    font-size: 0.875rem;
  }
}

.odin {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding-block: 1rem;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
  }

  img {
    height: 6rem;
    object-fit: cover;
  }

  span {
    font-family: 'norsebold', sans-serif;
    font-size: 4.5rem;
    color: #fff;
  }
}

.form-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  h3 {
    margin-bottom: 2rem;
  }
}

form {
  padding: 2.5rem;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  margin-bottom: 2rem;
}

fieldset {
  width: 65%;
  border: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

fieldset:not(:last-child) {
  margin-bottom: 1rem;
}

label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.825rem;
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

input:focus {
  border: 1px solid blue;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.1);

}

input[type="password"]:invalid {
  border: 1px solid red;
}

button[type="submit"] {
  padding: 0.75rem 1.25rem;
  margin-left: 2.5rem;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: #596D48;
  cursor: pointer;
  transition: background-color .2s ease;
}

button[type="submit"]:hover {
  background-color: #4D5F3F;
}

button[type="submit"] + p {
  margin-left: 2.5rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;

  a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
    transition: color 0.2s ease;
  }
}

button[type="submit"] + p a:hover {
  color: #4D5F3F;
}